/* styles.css */

.vbox .button {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Comic Sans MS";
    -fx-padding: 8px 10px;
    -fx-border-width: 3px;
    -fx-border-color: #A26644;
    -fx-background-radius: 14px;
    -fx-border-radius: 12px;
    -fx-max-width: 120px;
    -fx-max-height: 50px;
}
